{% extends 'base.html' %}
{% load activities_tags %}

{% block content %}
{% get_upcoming_activities 10 %}
{% get_activity_categories %}

<ul>
  {% for activity in activities %}
    <li {% if forloop.last %}class="last"{% endif %}>
      <strong><a href="{{ activity.get_absolute_url }}">{{ activity.title }}</a></strong><br>
      <em>Дата: {{ activity.date }}</em><br>
      <span>Время: {{ activity.time }}</span>
      <p>Краткое описание: {{ activity.description }}</p>

      {% if activity.passed %}
        <p style="color: gray;">Мероприятие завершено!</p>
      {% endif %}

    </li>
  {% endfor %}
</ul>
{% endblock %}
