{% extends 'base.html' %}
{% load activities_tags %}

{% block content %}
{% get_upcoming_activities 10 %}
{% get_activity_categories %}

<ul>
  {% for activity in activities %}
    <li {% if forloop.last %}class="last"{% endif %}>
      <strong><a href="{{ activity.get_absolute_url }}">{{ activity.title }} | автор: {{ activity.author.last_name|default_if_none:"неизвестен" }}</a></strong><br>
      <em>Дата: {{ activity.date }}</em><br>
      <span>Время: {{ activity.time }}</span>
      <p>Краткое описание: {{ activity.description }}</p>

      {% if activity.passed %}
        <p style="color: gray;">Мероприятие завершено!</p>
      {% endif %}

    </li>
  {% endfor %}
</ul>
{% endblock %}

{% block navigation %}
  {% if page_obj.has_other_pages %}
    {% load static %}

    <nav class="list-pages">
      <ul>
        {% if page_obj.has_previous %}
          <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
          </li>
        {% endif %}
        {% for p in paginator.page_range %}
          {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
          {% elif p >= page_obj.number|add:"-2" and p <= page_obj.number|add:"2" %}
            <li class="page-num">
              <a href="?page={{ p }}">{{ p }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}

