{% load static %}

{% if activities %}
<link type="text/css" href="{% static 'activities/css/styles.css' %}" rel="stylesheet" /> <!-- Подключение CSS для приложения -->

<div class="slider">
    <div class="slides">
        {% for activity in activities %}
            <div class="slide">
                <strong><a href="{{ activity.get_absolute_url }}">{{ activity.title }}</a></strong><br>
                <p><em>Дата: {{ activity.date }}</em></p>
                <p>Время: {{ activity.time }}</p>
                <p>Краткое описание: {{ activity.description }}</p>
            </div>
        {% endfor %}
    </div>
    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
    <button class="next" onclick="changeSlide(1)">&#10095;</button>
</div>
<script type="text/javascript" src="{% static 'activities/js/scripts.js' %}"></script>
{% else %}
{% endif %}

